.cart{
  margin: 5em auto;
}
.cart h2{
  font-weight: normal;
  font-size: 2.5em;
  letter-spacing: 1px;
  margin-bottom: 2em;
}
.cart h3{
  font-weight: normal;
  letter-spacing: 1px;
}
.cart .add{
  /* margin-top: 3em; */
  border: 1px solid black;
  /* margin-left: 7em; */
  padding: 1em;
  cursor: pointer;
  color: black;
  display: inline-block;
  width: 21em;
  /* background-color: red; */
  padding: 1em;
}
/* .cart .add a{color: black;width: 100%;} */
.cart .items{
  /* background-color: blue; */
  margin: 2em 0;
}
.cart .head,
.cart .item{
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* margin-top: 1em; */
  border: 1px solid black;
  padding: 1px;
}
/* .cart .item{
  padding: 1em;
} */
.cart .head div,
.cart .item div{
  border-right: 1px solid rgb(70, 66, 66);
  width: 100%;
  flex: 1;
}
.cart .head div{padding: .5em 0;}
.cart .item div{padding: 2em 0;}
.cart .head div:first-of-type,
.cart .item div:first-of-type{
  flex: 2;
  word-wrap: normal;
}
.cart .item div:not(:first-of-type){
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .item input{
  width: 5em;
  height: 2em;
  font-weight: bold;
  font-size: 1em;
}
.cart .item input[type='text']{
  font-weight: normal;
  border: none;
  background-color: white;
  color: black;
}
.cart .buy{
  /* background-color: black; */
  /* color: white; */
  border: 1px solid black;
  width: 13em;
  height: 3em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  cursor: pointer;
}
.cart .buy:hover{
  background-color: black;
  color: white;
}