.cart{
  margin: 5em auto;
}
.cart h2{
  font-weight: normal;
  font-size: 2.5em;
  letter-spacing: 1px;
  margin-bottom: 2em;
}
.cart h3{
  font-weight: normal;
  letter-spacing: 1px;
}
.cart .add{
  border: 1px solid black;
  padding: 1em;
  cursor: pointer;
  color: black;
  display: inline-block;
  width: 21em;
  padding: 1em;
}
.cart .items{
  margin: 2em 0;
}
.cart .head{background-color: #a8c56b}
.cart .head,
.cart .item{
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 1px solid black;
  padding: 1px;
}
.cart .head div,
.cart .item div{
  border-right: 1px solid rgb(70, 66, 66);
  width: 100%;
  flex: 1;
}
.cart .head div{padding: .5em 0;}
.cart .item div{padding: 2em 0;}
.cart .head div:first-of-type,
.cart .item div:first-of-type{
  flex: 2;
  word-wrap: normal;
}
.cart .total_price{
  width: 13em;
  height: 3em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.cart .bd{
  display: flex;
}
.cart .buy{
  border: 1px solid black;
  width: 13em;
  height: 3em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart .buy:hover{
  background-color: black;
  color: white;
}