.div{
  width: 294.6px;
  padding: 1em;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.w{
  flex: 1;
}
.category{
  color: black;
  text-transform: uppercase;
  font-weight: bold
}
.a{
  cursor: pointer;
}
.a img{
  max-width: 100%;
  max-height: 100%;
}