*{
  box-sizing: border-box;
  text-align: center;
}
.App {
  background-color: #fff;
}
.navpd{
  padding-top: 50px;
}
.container{
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.loading{
  height: 100em
}