.login{
  /* width: 100%; */
  /* height: 100rem */
  background-color: white
}
.login form{
  margin: 100px 40% 20px;
}
.login label,
.login input{
  display: block;
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px
}
/* .login input['submit']{
  background-color: skyblue;
  cursor: pointer
} */
.login button{
  background-color: skyblue;
  width: 214px;
  padding: 5px;
  /* margin-bottom: 10px; */
  border-radius: 5px
}
.auth{
  width: 200px;
  margin-left: 40%;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  background-color: skyblue;
  border-radius: 5px;
  cursor: pointer
}